<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Agregar Ciclo'" [items]="['Ciclos']" [active_item]="'Agregar Ciclo'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2><strong>Agregar Ciclo</strong></h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="cicloForm" (ngSubmit)="guardarCiclo()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>clave</mat-label>
                      <input matInput formControlName="clave" required>
                      <mat-error *ngIf="cicloForm.get('clave').hasError('required')">
                        Campo obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre" required>
                      <mat-error *ngIf="cicloForm.get('nombre').hasError('required')">
                        Campo obligatorio
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>estatus</mat-label>
                      <input matInput formControlName="estatus" required>
                      <mat-error *ngIf="cicloForm.get('estatus').hasError('estatus')">
                        Ingresa un estatus válido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>periodo</mat-label>
                      <input matInput formControlName="periodo" required>
                      <mat-error *ngIf="cicloForm.get('periodo').hasError('required')">
                        Ingresa un periodo válido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>fechaInicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechaInicio" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="cicloForm.get('fechaInicio').hasError('required')">
                          Seleciona la fecha de inicio
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>fechaFin</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="fechaFin" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="cicloForm.get('fechaFin').hasError('required')">
                            Seleciona la fecha de término
                        </mat-error>
                    </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space" [disabled]="!cicloForm.valid " mat-raised-button
                      color="primary">Guardar</button>
                    <button type="button" mat-button>Cancelar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>